In [10]:
import json
import pandas as pd

In [11]:
json_file = json.load(open('sample-dataset-3.json'))
json_file

[{'transaction_id': 'T123456',
  'timestamp': '2024-01-15T14:30:00',
  'customer': {'id': 'CUS123',
   'region': 'North',
   'segment': 'Premium',
   'join_date': '2023-01-01'},
  'items': [{'product_id': 'P789',
    'category': 'Electronics',
    'subcategory': 'Smartphones',
    'price': 499.99,
    'quantity': 1,
    'discount': 0.0},
   {'product_id': 'P456',
    'category': 'Accessories',
    'subcategory': 'Phone Cases',
    'price': 29.99,
    'quantity': 2,
    'discount': 5.0}],
  'payment_method': 'credit_card',
  'status': 'completed',
  'shipping': {'method': 'express',
   'cost': 15.99,
   'address': {'city': 'Boston', 'state': 'MA', 'country': 'USA'}}},
 {'transaction_id': 'T123457',
  'timestamp': '2024-01-15T14:45:00',
  'customer': {'id': 'CUS456',
   'region': 'South',
   'segment': 'Standard',
   'join_date': '2023-06-15'},
  'items': [{'product_id': 'P234',
    'category': 'Books',
    'subcategory': 'Fiction',
    'price': 24.99,
    'quantity': 3,
    'discount': 10.0}],
  'payment_method': 'paypal',
  'status': 'completed',
  'shipping': {'method': 'standard',
   'cost': 5.99,
   'address': {'city': 'Miami', 'state': 'FL', 'country': 'USA'}}},
 {'transaction_id': 'T123458',
  'timestamp': '2024-01-15T15:00:00',
  'customer': {'id': 'CUS789',
   'region': 'West',
   'segment': 'Premium',
   'join_date': '2022-03-20'},
  'items': [{'product_id': 'P789',
    'category': 'Electronics',
    'subcategory': 'Smartphones',
    'price': 499.99,
    'quantity': 1,
    'discount': 50.0},
   {'product_id': 'P555',
    'category': 'Electronics',
    'subcategory': 'Tablets',
    'price': 299.99,
    'quantity': 1,
    'discount': 0.0},
   {'product_id': 'P777',
    'category': 'Electronics',
    'subcategory': 'Headphones',
    'price': 199.99,
    'quantity': 2,
    'discount': 25.0}],
  'payment_method': 'credit_card',
  'status': 'pending',
  'shipping': {'method': 'express',
   'cost': 25.99,
   'address': {'city': 'Los Angeles', 'state': 'CA', 'country': 'USA'}}},
 {'transaction_id': 'T123459',
  'timestamp': '2024-01-15T15:15:00',
  'customer': {'id': 'CUS101',
   'region': 'East',
   'segment': 'Standard',
   'join_date': '2024-01-01'},
  'items': [{'product_id': 'P333',
    'category': 'Clothing',
    'subcategory': 'Shirts',
    'price': 39.99,
    'quantity': 2,
    'discount': 15.0},
   {'product_id': 'P444',
    'category': 'Clothing',
    'subcategory': 'Pants',
    'price': 59.99,
    'quantity': 1,
    'discount': 0.0}],
  'payment_method': 'debit_card',
  'status': 'completed',
  'shipping': {'method': 'standard',
   'cost': 7.99,
   'address': {'city': 'New York', 'state': 'NY', 'country': 'USA'}}},
 {'transaction_id': 'T123460',
  'timestamp': '2024-01-15T15:30:00',
  'customer': {'id': 'CUS202',
   'region': 'North',
   'segment': 'Premium',
   'join_date': '2023-08-15'},
  'items': [{'product_id': 'P888',
    'category': 'Home',
    'subcategory': 'Kitchen',
    'price': 199.99,
    'quantity': 1,
    'discount': 20.0}],
  'payment_method': 'gift_card',
  'status': 'cancelled',
  'shipping': {'method': 'standard',
   'cost': 9.99,
   'address': {'city': 'Chicago', 'state': 'IL', 'country': 'USA'}}}]

In [ ]:
df = pd.read_json('sample-dataset-3.json')

,transaction_id,timestamp,customer,items,payment_method,status,shipping
0,T123456,2024-01-15 14:30:00,"{'id': 'CUS123', 'region': 'North', 'segment':...","[{'product_id': 'P789', 'category': 'Electroni...",credit_card,completed,"{'method': 'express', 'cost': 15.99, 'address'..."
1,T123457,2024-01-15 14:45:00,"{'id': 'CUS456', 'region': 'South', 'segment':...","[{'product_id': 'P234', 'category': 'Books', '...",paypal,completed,"{'method': 'standard', 'cost': 5.99, 'address'..."
2,T123458,2024-01-15 15:00:00,"{'id': 'CUS789', 'region': 'West', 'segment': ...","[{'product_id': 'P789', 'category': 'Electroni...",credit_card,pending,"{'method': 'express', 'cost': 25.99, 'address'..."
3,T123459,2024-01-15 15:15:00,"{'id': 'CUS101', 'region': 'East', 'segment': ...","[{'product_id': 'P333', 'category': 'Clothing'...",debit_card,completed,"{'method': 'standard', 'cost': 7.99, 'address'..."
4,T123460,2024-01-15 15:30:00,"{'id': 'CUS202', 'region': 'North', 'segment':...","[{'product_id': 'P888', 'category': 'Home', 's...",gift_card,cancelled,"{'method': 'standard', 'cost': 9.99, 'address'..."

In [24]:
json_file[0]['customer'].items()

dict_items([('id', 'CUS123'), ('region', 'North'), ('segment', 'Premium'), ('join_date', '2023-01-01')])

In [57]:


#s = pd.DataFrame(data=val, columns=columns_list)

In [27]:
s

           0           1
0         id      CUS123
1     region       North
2    segment     Premium
3  join_date  2023-01-01

In [54]:
val = []
for i in json_file[0]['customer'].values():
    val.append(i)

val

['CUS123', 'North', 'Premium', '2023-01-01']

In [55]:
columns_list =[] 
json_file[0]['customer'].keys()
for i in json_file[0]['customer'].keys():
    columns_list.append(i)

columns_list

['id', 'region', 'segment', 'join_date']

In [78]:
from flatten_json import flatten

flat_json = flatten(json_file[0])
cf = pd.DataFrame(flat_json)

TypeError: DataFrame.__init__() got an unexpected keyword argument 'ignore'

In [66]:
json_file[2]['items']

[{'product_id': 'P789',
  'category': 'Electronics',
  'subcategory': 'Smartphones',
  'price': 499.99,
  'quantity': 1,
  'discount': 50.0},
 {'product_id': 'P555',
  'category': 'Electronics',
  'subcategory': 'Tablets',
  'price': 299.99,
  'quantity': 1,
  'discount': 0.0},
 {'product_id': 'P777',
  'category': 'Electronics',
  'subcategory': 'Headphones',
  'price': 199.99,
  'quantity': 2,
  'discount': 25.0}]

In [76]:
def flatten_json(y):
    out = {}
 
    def flatten(x, name=''):
 
        # If the Nested key-value
        # pair is of dict type
        if type(x) is dict:
            
            for a in x:
                flatten(x[a], name + a + '_')
 
        # If the Nested key-value
        # pair is of list type
        elif type(x) is list:
 
            i = 0
 
            for a in x:
                flatten(a, name)
                
                i += 1
        else:
            out[name[:-1]] = x
 
    flatten(y)
    return out
 
 
# Driver code
cf = flatten_json(json_file)
cf

{'transaction_id': 'T123460',
 'timestamp': '2024-01-15T15:30:00',
 'customer_id': 'CUS202',
 'customer_region': 'North',
 'customer_segment': 'Premium',
 'customer_join_date': '2023-08-15',
 'items_product_id': 'P888',
 'items_category': 'Home',
 'items_subcategory': 'Kitchen',
 'items_price': 199.99,
 'items_quantity': 1,
 'items_discount': 20.0,
 'payment_method': 'gift_card',
 'status': 'cancelled',
 'shipping_method': 'standard',
 'shipping_cost': 9.99,
 'shipping_address_city': 'Chicago',
 'shipping_address_state': 'IL',
 'shipping_address_country': 'USA'}

In [72]:
len(json_file)

5

In [83]:
for i in range(len(json_file)):
    print(json_file[i])

{'transaction_id': 'T123456', 'timestamp': '2024-01-15T14:30:00', 'customer': {'id': 'CUS123', 'region': 'North', 'segment': 'Premium', 'join_date': '2023-01-01'}, 'items': [{'product_id': 'P789', 'category': 'Electronics', 'subcategory': 'Smartphones', 'price': 499.99, 'quantity': 1, 'discount': 0.0}, {'product_id': 'P456', 'category': 'Accessories', 'subcategory': 'Phone Cases', 'price': 29.99, 'quantity': 2, 'discount': 5.0}], 'payment_method': 'credit_card', 'status': 'completed', 'shipping': {'method': 'express', 'cost': 15.99, 'address': {'city': 'Boston', 'state': 'MA', 'country': 'USA'}}}
{'transaction_id': 'T123457', 'timestamp': '2024-01-15T14:45:00', 'customer': {'id': 'CUS456', 'region': 'South', 'segment': 'Standard', 'join_date': '2023-06-15'}, 'items': [{'product_id': 'P234', 'category': 'Books', 'subcategory': 'Fiction', 'price': 24.99, 'quantity': 3, 'discount': 10.0}], 'payment_method': 'paypal', 'status': 'completed', 'shipping': {'method': 'standard', 'cost': 5.99, 'address': {'city': 'Miami', 'state': 'FL', 'country': 'USA'}}}
{'transaction_id': 'T123458', 'timestamp': '2024-01-15T15:00:00', 'customer': {'id': 'CUS789', 'region': 'West', 'segment': 'Premium', 'join_date': '2022-03-20'}, 'items': [{'product_id': 'P789', 'category': 'Electronics', 'subcategory': 'Smartphones', 'price': 499.99, 'quantity': 1, 'discount': 50.0}, {'product_id': 'P555', 'category': 'Electronics', 'subcategory': 'Tablets', 'price': 299.99, 'quantity': 1, 'discount': 0.0}, {'product_id': 'P777', 'category': 'Electronics', 'subcategory': 'Headphones', 'price': 199.99, 'quantity': 2, 'discount': 25.0}], 'payment_method': 'credit_card', 'status': 'pending', 'shipping': {'method': 'express', 'cost': 25.99, 'address': {'city': 'Los Angeles', 'state': 'CA', 'country': 'USA'}}}
{'transaction_id': 'T123459', 'timestamp': '2024-01-15T15:15:00', 'customer': {'id': 'CUS101', 'region': 'East', 'segment': 'Standard', 'join_date': '2024-01-01'}, 'items': [{'product_id': 'P333', 'category': 'Clothing', 'subcategory': 'Shirts', 'price': 39.99, 'quantity': 2, 'discount': 15.0}, {'product_id': 'P444', 'category': 'Clothing', 'subcategory': 'Pants', 'price': 59.99, 'quantity': 1, 'discount': 0.0}], 'payment_method': 'debit_card', 'status': 'completed', 'shipping': {'method': 'standard', 'cost': 7.99, 'address': {'city': 'New York', 'state': 'NY', 'country': 'USA'}}}
{'transaction_id': 'T123460', 'timestamp': '2024-01-15T15:30:00', 'customer': {'id': 'CUS202', 'region': 'North', 'segment': 'Premium', 'join_date': '2023-08-15'}, 'items': [{'product_id': 'P888', 'category': 'Home', 'subcategory': 'Kitchen', 'price': 199.99, 'quantity': 1, 'discount': 20.0}], 'payment_method': 'gift_card', 'status': 'cancelled', 'shipping': {'method': 'standard', 'cost': 9.99, 'address': {'city': 'Chicago', 'state': 'IL', 'country': 'USA'}}}