In [1]:
import json
import pandas as pd

json_file = json.load(open('sample-dataset-3.json'))
json_file

[{'transaction_id': 'T123456',
  'timestamp': '2024-01-15T14:30:00',
  'customer': {'id': 'CUS123',
   'region': 'North',
   'segment': 'Premium',
   'join_date': '2023-01-01'},
  'items': [{'product_id': 'P789',
    'category': 'Electronics',
    'subcategory': 'Smartphones',
    'price': 499.99,
    'quantity': 1,
    'discount': 0.0},
   {'product_id': 'P456',
    'category': 'Accessories',
    'subcategory': 'Phone Cases',
    'price': 29.99,
    'quantity': 2,
    'discount': 5.0}],
  'payment_method': 'credit_card',
  'status': 'completed',
  'shipping': {'method': 'express',
   'cost': 15.99,
   'address': {'city': 'Boston', 'state': 'MA', 'country': 'USA'}}},
 {'transaction_id': 'T123457',
  'timestamp': '2024-01-15T14:45:00',
  'customer': {'id': 'CUS456',
   'region': 'South',
   'segment': 'Standard',
   'join_date': '2023-06-15'},
  'items': [{'product_id': 'P234',
    'category': 'Books',
    'subcategory': 'Fiction',
    'price': 24.99,
    'quantity': 3,
    'discount': 10.0}],
  'payment_method': 'paypal',
  'status': 'completed',
  'shipping': {'method': 'standard',
   'cost': 5.99,
   'address': {'city': 'Miami', 'state': 'FL', 'country': 'USA'}}},
 {'transaction_id': 'T123458',
  'timestamp': '2024-01-15T15:00:00',
  'customer': {'id': 'CUS789',
   'region': 'West',
   'segment': 'Premium',
   'join_date': '2022-03-20'},
  'items': [{'product_id': 'P789',
    'category': 'Electronics',
    'subcategory': 'Smartphones',
    'price': 499.99,
    'quantity': 1,
    'discount': 50.0},
   {'product_id': 'P555',
    'category': 'Electronics',
    'subcategory': 'Tablets',
    'price': 299.99,
    'quantity': 1,
    'discount': 0.0},
   {'product_id': 'P777',
    'category': 'Electronics',
    'subcategory': 'Headphones',
    'price': 199.99,
    'quantity': 2,
    'discount': 25.0}],
  'payment_method': 'credit_card',
  'status': 'pending',
  'shipping': {'method': 'express',
   'cost': 25.99,
   'address': {'city': 'Los Angeles', 'state': 'CA', 'country': 'USA'}}},
 {'transaction_id': 'T123459',
  'timestamp': '2024-01-15T15:15:00',
  'customer': {'id': 'CUS101',
   'region': 'East',
   'segment': 'Standard',
   'join_date': '2024-01-01'},
  'items': [{'product_id': 'P333',
    'category': 'Clothing',
    'subcategory': 'Shirts',
    'price': 39.99,
    'quantity': 2,
    'discount': 15.0},
   {'product_id': 'P444',
    'category': 'Clothing',
    'subcategory': 'Pants',
    'price': 59.99,
    'quantity': 1,
    'discount': 0.0}],
  'payment_method': 'debit_card',
  'status': 'completed',
  'shipping': {'method': 'standard',
   'cost': 7.99,
   'address': {'city': 'New York', 'state': 'NY', 'country': 'USA'}}},
 {'transaction_id': 'T123460',
  'timestamp': '2024-01-15T15:30:00',
  'customer': {'id': 'CUS202',
   'region': 'North',
   'segment': 'Premium',
   'join_date': '2023-08-15'},
  'items': [{'product_id': 'P888',
    'category': 'Home',
    'subcategory': 'Kitchen',
    'price': 199.99,
    'quantity': 1,
    'discount': 20.0}],
  'payment_method': 'gift_card',
  'status': 'cancelled',
  'shipping': {'method': 'standard',
   'cost': 9.99,
   'address': {'city': 'Chicago', 'state': 'IL', 'country': 'USA'}}}]

In [11]:
json_file[0]['items'][0]['category']

'Electronics'

In [10]:
total_price = 0
for i in range(len(json_file)):
    for j in range(len(json_file[i]['items'])):
        total_price = total_price + json_file[i]['items'][j]['price']


total_price

1854.91

In [13]:
categories = []
for i in range(len(json_file)):
    for j in range(len(json_file[i]['items'])):
        categories.append(json_file[i]['items'][j]['category'])


set(categories)

{'Accessories', 'Books', 'Clothing', 'Electronics', 'Home'}

In [15]:
df = pd.json_normalize(json_file)
df

,transaction_id,timestamp,items,payment_method,status,customer.id,customer.region,customer.segment,customer.join_date,shipping.method,shipping.cost,shipping.address.city,shipping.address.state,shipping.address.country
0,T123456,2024-01-15T14:30:00,"[{'product_id': 'P789', 'category': 'Electroni...",credit_card,completed,CUS123,North,Premium,2023-01-01,express,15.99,Boston,MA,USA
1,T123457,2024-01-15T14:45:00,"[{'product_id': 'P234', 'category': 'Books', '...",paypal,completed,CUS456,South,Standard,2023-06-15,standard,5.99,Miami,FL,USA
2,T123458,2024-01-15T15:00:00,"[{'product_id': 'P789', 'category': 'Electroni...",credit_card,pending,CUS789,West,Premium,2022-03-20,express,25.99,Los Angeles,CA,USA
3,T123459,2024-01-15T15:15:00,"[{'product_id': 'P333', 'category': 'Clothing'...",debit_card,completed,CUS101,East,Standard,2024-01-01,standard,7.99,New York,NY,USA
4,T123460,2024-01-15T15:30:00,"[{'product_id': 'P888', 'category': 'Home', 's...",gift_card,cancelled,CUS202,North,Premium,2023-08-15,standard,9.99,Chicago,IL,USA

In [20]:
len(df['items'][0])

2