# Q1- Algorithms: Binary Search

Create a function that finds a target number in a list of prime numbers. Implement a binary search algorithm in your function. 

The target number will be from 2 through 97. If the target is prime then return "yes" else return "no".

In [1]:
def is_prime(primes,num):
    high = len(primes)-1
    low = 0
    def binarySearch(primes,low,high,num):
        if high>=low:
            mid = low + (high - low) // 2
            if primes[mid] == num:
                return 'yes'
            
            elif (num < primes[mid]):
                return binarySearch(primes, low, mid-1, num)
        
            else:
                return binarySearch(primes, mid+1, high, num)
            
        else:
            return 'no'
        
    return binarySearch(primes,low,high,num)

In [2]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
is_prime(primes,4)

'no'

# Q2 - Checking Palindrome String Using Stack

In [3]:
# Use the Stack Please. Not word == word[::-1]

class Stack:
    def __init__(self):
        self.data = []

    def size(self):
        return len(self.data)

    def push(self, element):
        self.data.append(element)

    def peek_top(self):
        if self.size() == 0:
            return "Stack Is Empty"
        return self.data[-1]

    def pop(self):
        if self.size() == 0:
            return "Stack Is Empty"
        return self.data.pop()




def is_palindrome(word):
    s = Stack()
    # Inserting the input word into stack
    for l in word:
        s.push(l)
        
    # Poping each word from stack and comparing it with the word letter by letter
    for l in word:
        last = s.pop()
        if (l != last):
            return False        
    return True

In [4]:
is_palindrome('malayalam')

True

# Q3 Combine Arrays

Create a function that takes three lists and returns one list where all passed arrays are combined into nested lists.


These lists should be combined based on indexes: the first nested list should contain only the items on index 0, the second list on index 1, and so on.


If any list contains fewer items than necessary, supplement the missing item with "*".

In [5]:
def combine_lists(lst1,lst2,lst3):
    if len(lst1) >len(lst2):
        if len(lst1) > len(lst3):
            n = len(lst1)
        else:
            n = len(lst3)
    else:
        if len(lst2) > len(lst3):
            n = len(lst2)
        else:
            n = len(lst3)
            
    lst4 = []
    for i in range(n):
        lst4.append([])
        
        try:
            lst4[i].append(lst1[i])
        except IndexError:
            lst4[i].append("*")
        
        try:
            lst4[i].append(lst2[i])
        except IndexError:
            lst4[i].append("*")
        
        try :
            lst4[i].append(lst3[i])
        except IndexError:
            lst4[i].append("*")
        
    return lst4

In [6]:
combine_lists([1, 2, 3, 4], [4, 5, 6], [7, 8,])

[[1, 4, 7], [2, 5, 8], [3, 6, '*'], [4, '*', '*']]

# Q4 Remove The Word!

Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

In [7]:
def remove_letters(letters, word):
    for l in word:
        if l in letters:
            letters.remove(l)
    return letters

In [8]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"],"string")

['w']

# Q5 Convert to Hex

Create a function that takes a string's characters as ASCII and returns each character's hexadecimal value as a string.

In [9]:
ord(' ')

32

In [10]:
hex(32)

'0x20'

In [11]:
def convert_to_hex(txt):
    #txt = txt.lower()
    hex_val = ""
    for l in txt:
        val = hex(ord(l))
        val = val.replace("x","")
        idx = val.find("0")
        if idx != -1:
            val = val[:idx] + val[idx+1:]

        if hex_val == "":
            hex_val += val
        else:
            hex_val += " " + val
    return hex_val

In [12]:
convert_to_hex('Marty Poppinson')

'4d 61 72 74 79 20 50 6f 70 70 69 6e 73 6f 6e'

# Q6 Basic Arithmetic Operations on a String Number

Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").


Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.


eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24


arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0


arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144


arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [13]:
def arithmetic_operation(n):
    n = n.split(' ')
    if(n[1] == '+'):
        return (int(n[0]) + int(n[2]))
    elif(n[1] == '-'):
        return (int(n[0]) - int(n[2]))
    elif(n[1] == '*'):
        return (int(n[0]) * int(n[2]))
    elif(n[1] == '//'):
        if(int(n[2]) == 0):
            return -1
        else:
            return (int(n[0]) // int(n[2]))

In [14]:
arithmetic_operation("12 + 12")

24

# Q 7 Track the Robot (Part 1)

A robot has been given a list of movement instructions. Each instruction is either left, right, up or down, followed by a distance to move. The robot starts at [0, 0]. You want to calculate where the robot will end up and return its final position as a list.

To illustrate, if the robot is given the following instructions:

["right 10", "up 50", "left 30", "down 10"]

It will end up 20 left and 40 up from where it started, so we return [-20, 40].

In [15]:
example = ["right 10", "up 50", "left 30", "down 10"]

In [16]:
def track_robot(instructions):
    val = [0,0]
    for i in instructions:
        f = i.split(" ")
        f[1]=int(f[1])
        if (f[0] == 'right'):
            val[0] += f[1]
        elif (f[0] == 'left'):
            val[0] -= f[1]
        elif (f[0] == 'up'):
            val[1] += f[1]
        elif (f[0] == 'down'):
            val[1] -= f[1]

    return val

In [17]:
track_robot(example)

[-20, 40]

# Q8 How Many "Prime Numbers" Are There?

Create a function that finds how many prime numbers there are, up to the given integer.

prime_numbers(10) ➞ 4


prime_numbers(20) ➞ 8


prime_numbers(30) ➞ 10

In [18]:
def prime_numbers(n):
    if n < 2:
        return 0
    
    primes = [True] * n
    primes[0] = primes[1] = False
    
    for i in range(2, int(n ** 0.5) + 1):
        if primes[i]:
            for j in range(i * i, n, i):
                primes[j] = False
    
    count = sum(primes)
    return count

In [19]:
prime_numbers(20)

8

# Q9 Find the Difference

You are given two strings s and t. String t is generated by randomly shuffling string s and then adding one more letter at a random position. Return the letter that was added to t.


Examples

find_the_difference("abcd", "abcde") ➞ "e"


find_the_difference("", "y") ➞ "y"


find_the_difference("ae", "aea") ➞ "a"

In [20]:
def find_the_difference(s, t):
    if(len(t)>len(s)):
        lst1 = []
        for l in s:
            lst1.append(l)
        for letter in t:
            if (letter not in lst1):
                return letter
            else:
                lst1.remove(letter)
            
    else:
        lst1 = []
        for l in t:
            lst1.append(l)
        for letter in s:
            if (letter not in lst1):
                return letter
            else:
                lst1.remove(letter)

In [21]:
find_the_difference("abcd", "abcde")

'e'

In [22]:
find_the_difference("ae", "aea")

'a'

# Q10 In N Days...

If today was Monday, in two days, it would be Wednesday.

Create a function that takes in a list of days as input and the number of days to increment by. Return a list of days after n number of days has passed.

Examples

after_n_days(["Thursday", "Monday"], 4) ➞ ["Monday", "Friday"]

after_n_days(["Sunday", "Sunday", "Sunday"], 1) ➞ ["Monday", "Monday", "Monday"]

after_n_days(["Monday", "Tuesday", "Friday"], 1) ➞ ["Tuesday", "Wednesday", "Saturday"]

In [23]:
def after_n_days(days, n):
    week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
    n = n % 7
    outputdays = []
    for day in days:
        initial_val = week.index(day)
        final = week[(initial_val + n) % 7]
        outputdays.append(final)
    
    return outputdays

In [24]:
print(after_n_days(["Thursday", "Monday"], 4))  # Expected ["Monday", "Friday"]
print (after_n_days(["Sunday", "Sunday", "Sunday"], 1)) # ➞ ["Monday", "Monday", "Monday"]

['Monday', 'Friday']
['Monday', 'Monday', 'Monday']

# Q11 Calculated Bonus

A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.


This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days   -	Bonus

0 to 32 days  = 	Zero

33 to 40 days  =	 SGD$325 per billable day

41 to 48 days   = 	SGD$550 per billable day

Greater than 48 days  = 	SGD$600 per billable day


Please note that incentive payment is calculated progressively. 
As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

In [42]:
def bonus(days):
    if days < 0:
        raise ValueError("Days cannot be negative")

    if days <= 32:
        return 0
    elif days <= 40:
        return (days - 32) * 325
    elif days <= 48:
        return (8 * 325) + (days - 40) * 550
    else:
        return (8 * 325) + (8 * 550) + (days - 48) * 600

try:
    days = int(input("Enter number of days: "))
    print(bonus(days))
except ValueError as e:
    print(f"Invalid input: {e}")

Enter number of days:  45

5350

# Q12 Power Ranger

Create a function that takes in n, a, b and returns the number of positive values raised to the nth power that lie in the range [a, b], inclusive.

Examples

power_ranger(2, 49, 65) ➞ 2

 2 squares (n^2) lie between 49 and 65, 49 (7^2) and 64 (8^2)


power_ranger(3, 1, 27) ➞ 3

 3 cubes (n^3) lie between 1 and 27, 1 (1^3), 8 (2^3) and 27 (3^3)


power_ranger(10, 1, 5) ➞ 1

1 value raised to the 10th power lies between 1 and 5, 1 (1^10)


power_ranger(5, 31, 33) ➞ 1


power_ranger(4, 250, 1300) ➞ 3

Notes

Remember that the range is inclusive.

a < b will always be true.

In [45]:
import math as m
int(m.pow(3,3))

27